node_modules
build
.vscode
.idea
credo-*.tgz
# Keeping this one in for now to prevent accidental
# old build still in the local repository getting pushed
aries-framework-*.tgz
coverage
.DS_Store
logs.txt
logs/
.pnpm-store
ngrok.auth.yml
cli-build
*.db