name: Continuous Integration

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  pull_request_review:

env:
  NODE_OPTIONS: --max_old_space_size=6144

# Make sure we're not running multiple release steps at the same time as this can give issues with determining the next npm version to release.
# Ideally we only add this to the 'release' job so it doesn't limit PR runs, but github can't guarantee the job order in that case:
# "When concurrency is specified at the job level, order is not guaranteed for jobs or runs that queue within 5 minutes of each other."
concurrency:
  # Cancel previous runs that are not completed yet
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

jobs:
  validate:
    runs-on: ubuntu-24.04
    name: Validate
    if: github.event_name != 'pull_request_review' ||  github.event.pull_request.head.ref == 'changeset-release/main'
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: pnpm/action-setup@v4

      - name: Setup NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Linting and Formatting
        run: pnpm style:check

      - name: Check Types
        run: pnpm types:check

      - name: Build
        run: pnpm build

  unit-tests:
    runs-on: ubuntu-24.04
    name: Unit Tests
    if: github.event_name != 'pull_request_review' ||  github.event.pull_request.head.ref == 'changeset-release/main'

    strategy:
      fail-fast: false
      matrix:
        node-version: [20, 22]
        # Each shard runs a set of the tests
        # Make sure to UPDATE THE TEST command with the total length of
        # the shards if you change this!!
        shard: [1, 2]

    steps:
      - uses: actions/checkout@v6.0.1
      - uses: pnpm/action-setup@v4

      - name: Setup NodeJS
        id: setup-node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      # See https://github.com/actions/setup-node/issues/641#issuecomment-1358859686
      - name: pnpm cache path
        id: pnpm-cache-path
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - name: pnpm cache
        uses: actions/cache@v5
        with:
          path: ${{ steps.pnpm-cache-path.outputs.STORE_PATH }}
          key: ${{ runner.os }}-${{ steps.setup-node.outputs.node-version }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-${{ steps.setup-node.outputs.node-version }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run tests
        run: COLLECT_FAILED_TEST_LOGS=true pnpm test:unit --coverage --shard=${{ matrix.shard }}/2

      # Upload coverage for shard
      - run: mv coverage/coverage-final.json coverage/${{ matrix.shard }}.json
      - uses: actions/upload-artifact@v6.0.0
        with:
          name: coverage-artifacts-${{ matrix.node-version }}-unit-${{ matrix.shard }}
          path: coverage/${{ matrix.shard }}.json
          overwrite: true

      - uses: actions/upload-artifact@v6.0.0
        if: failure()
        with:
          name: failed-tests-${{ matrix.node-version }}-unit-${{ matrix.shard }}
          path: testlogs
          overwrite: true

  e2e-tests:
    runs-on: ubuntu-24.04
    name: E2E Tests
    if: github.event_name != 'pull_request_review' ||  github.event.pull_request.head.ref == 'changeset-release/main'

    strategy:
      fail-fast: false
      matrix:
        node-version: [20, 22]

    steps:
      - uses: actions/checkout@v6.0.1

      # setup dependencies
      - name: Setup services
        run: docker compose up -d

      - name: Setup NodeJS
        id: setup-node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - uses: pnpm/action-setup@v4

      # See https://github.com/actions/setup-node/issues/641#issuecomment-1358859686
      - name: pnpm cache path
        id: pnpm-cache-path
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - name: pnpm cache
        uses: actions/cache@v5
        with:
          path: ${{ steps.pnpm-cache-path.outputs.STORE_PATH }}
          key: ${{ runner.os }}-${{ steps.setup-node.outputs.node-version }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-${{ steps.setup-node.outputs.node-version }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Wait for WMA calculation on Cheqd network
        shell: bash
        run: |
          set -euo pipefail

          WAIT_TIME=300 # seconds
          INTERVAL=20

          echo "Waiting for WMA to be available..."

          while ! docker exec cheqd-validator cheqd-noded q oracle wma CHEQ >/dev/null 2>&1; do
            if [ "$WAIT_TIME" -le 0 ]; then
              echo "Unable to compute WMA within timeout"
              exit 1
            fi

            sleep "$INTERVAL"
            WAIT_TIME=$((WAIT_TIME - INTERVAL))
          done

      - name: Run tests
        run: COLLECT_FAILED_TEST_LOGS=true pnpm test:e2e --coverage

      # Upload coverage for e2e
      - run: mv coverage/coverage-final.json coverage/e2e.json
      - uses: actions/upload-artifact@v6.0.0
        with:
          name: coverage-artifacts-${{ matrix.node-version }}-e2e
          path: coverage/e2e.json
          overwrite: true

      - uses: actions/upload-artifact@v6.0.0
        if: failure()
        with:
          name: failed-tests-${{ matrix.node-version }}-e2e
          path: testlogs
          overwrite: true

  drizzle-tests:
    runs-on: ubuntu-24.04
    name: Drizzle Tests
    if: github.event_name != 'pull_request_review' ||  github.event.pull_request.head.ref == 'changeset-release/main'

    strategy:
      fail-fast: false
      matrix:
        node-version: [20, 22]

    steps:
      - uses: actions/checkout@v6.0.1

      # setup dependencies
      - name: Setup services
        run: docker compose up -d

      - name: Setup NodeJS
        id: setup-node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - uses: pnpm/action-setup@v4

      # See https://github.com/actions/setup-node/issues/641#issuecomment-1358859686
      - name: pnpm cache path
        id: pnpm-cache-path
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - name: pnpm cache
        uses: actions/cache@v5
        with:
          path: ${{ steps.pnpm-cache-path.outputs.STORE_PATH }}
          key: ${{ runner.os }}-${{ steps.setup-node.outputs.node-version }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-${{ steps.setup-node.outputs.node-version }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      # For the Drizzle ORM integration we need to build the package
      - name: Build drizzle package
        run: pnpm --filter @credo-ts/drizzle-storage run build

      - name: Run tests
        run: COLLECT_FAILED_TEST_LOGS=true pnpm test:drizzle --coverage

      # Upload coverage for e2e
      - run: mv coverage/coverage-final.json coverage/drizzle.json
      - uses: actions/upload-artifact@v6.0.0
        with:
          name: coverage-artifacts-${{ matrix.node-version }}-drizzle
          path: coverage/drizzle.json
          overwrite: true

      - uses: actions/upload-artifact@v6.0.0
        if: failure()
        with:
          name: failed-tests-${{ matrix.node-version }}-drizzle
          path: testlogs
          overwrite: true

  # Upload all the coverage reports
  report-coverage:
    runs-on: ubuntu-24.04
    needs: [e2e-tests, unit-tests, drizzle-tests]
    steps:
      - uses: actions/download-artifact@v7
        with:
          pattern: coverage-artifacts-20-*
          path: coverage
          merge-multiple: true

      - uses: codecov/codecov-action@v5
        with:
          directory: coverage
          token: ${{ secrets.CODECOV_TOKEN }}
